aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
blobfile
bracex
cachetools
cairocffi
CairoSVG
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
csscompressor
cssselect2
cycler
dataclasses-json
debugpy
decorator
defusedxml
EditorConfig
exceptiongroup
executing
faiss-cpu
fastjsonschema
filelock
fonttools
fqdn
frozenlist
github
ghp-import
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud
google-search-results
googleapis-common-protos
htmlmin
htmlmin2
httplib2
idna
importlib-metadata
ipykernel
ipython
isoduration
jedi
Jinja2
jsbeautifier
jsmin
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
langchain
langsmith
lxml
Markdown
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mergedeep
mistune
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-categories-plugin
mkdocs-exclude
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-markmap
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-section-index
mkdocs-table-reader-plugin
mpmath
multidict
mypy-extensions
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numexpr
numpy
oauthlib
openai
overrides
packaging
paginate
pandas
pandocfilters
parso
pathspec
pexpect
pheasant
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pydantic
pydantic_core
Pygments
pymdown-extensions
pyparsing
pypdf
python-dateutil
python-json-logger
pytz
PyYAML
pyyaml_env_tag
pyzmq
referencing
regex
requests
requests-file
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
Send2Trash
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tabulate
tags-macros-plugin @ git+https://github.com/jldiaz/mkdocs-plugin-tags.git@fec38cd051f64381c116455e61d93ae5dd8d7340
tenacity
termcolor
terminado
tiktoken
tinycss2
tldextract
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
uri-template
uritemplate
urllib3
watchdog
wcmatch
wcwidth
webcolors
webencodings
websocket-client
yarl
zipp
