mkdocs>=1.2.2
mkdocs-minify-plugin
mkdocs-include-markdown-plugin
git+https://github.com/jldiaz/mkdocs-plugin-tags.git
mkdocs-awesome-pages-plugin
mkdocs-section-index
mkdocs-table-reader-plugin
mkdocs-mermaid2-plugin
mkdocs-include-dir-to-nav
pheasant
mkdocs-categories-plugin
mkdocs-markmap
mkdocs-autorefs
mkdocs-git-revision-date-plugin
mkdocs-macros-plugin
google-cloud
google-api-core
google-auth-oauthlib
google-api-python-client
mkdocs-exclude
pillow
cairosvg
mkdocs-glightbox
pypdf
tiktoken
