<section class="mdx-parallax__group" data-md-color-scheme="default">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset" hidden>
        <h1 id="improving-information-value">
          Working to Manage Gen()AI, so it works for our future 
          <a href="#improving-information-value" class="headerlink" title="Permanent link">
            ¶
          </a>
        </h1>
      </header>
      <div class="mdx-spotlight">
      
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.managen.ai" title="Managen.AI" tabindex="-1">
            <img src="assets/images/spotlight/managenai.png" alt="Managen.AI" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Gen()AI will be an essential part of a future of progress </h2>
            <p>
              The <strong> reality</strong> that <strong> General and Generative AI </strong> will bring massive change to our world is <strong>inevitable</strong>. What happens when 
              Generative AI becomes <strong>General AI</strong>? How will we ensure it is understandable and <strong>aligned with our values</strong>?
            </p>

              <a href="https://www.managen.ai" aria-label="Managen.ai">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.managen.ai/Use/index.html" title="Managenai" tabindex="-1">
            <img src="assets/images/spotlight/speed.png" alt="Managenai" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2> Keeping up is hard!</h2>
            <p>
              With the <strong>acceleration of  </strong> AI research and development, it is becoming harder and harder to stay current. 
              <strong>Managen.AI</strong> aims to help you and your colleagues understand the <strong>latest</strong> developments.
            </p>
            <p>
              <a href="https://www.managen.ai/Use/index.html" aria-label="Managenai">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
               
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.managen.ai/Managenai/index.html" title="ManagenAI" tabindex="-1">
            <img src="assets/images/spotlight/selfimproving.png" alt="ManagenAI" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2> Building AI to help create useful and understandable AI.</h2>
            <p>
              Designed with the potential to be self-adaptive and self-improving, Managen.AI will help us to understand and manage the future of AI. 
            </p>
            <p>
              <strong>Managen.AI</strong> 
            </p>
              <a href="https://www.managen.ai/Managenai/index.html" aria-label="MANAGENAI!?">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure> 
        
      </div>
    </div>
  </div>
</section>
