<section class="mdx-parallax__group" data-md-color-scheme="default">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset" hidden>
        <h1 id="#about-managen-ai">
          Managen focuses enabling people to understand and use Gen()AI
          <a href="#about-managen-ai" class="headerlink" title="Permanent link">
            ¶
          </a>
        </h1>
      </header>
      <div class="mdx-spotlight">
      
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.managen.ai" title="Managen.AI" tabindex="-1">
            <img src="assets/images/spotlight/managenai.png" alt="Managen.AI" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Working to Manage Gen()AI, so it works for our future </h2>
            <p>
              The <strong> reality</strong> that <strong> General and Generative AI </strong> will bring massive change to our world is <strong>inevitable</strong>. What happens when 
              Generative AI becaomes <strong>General AI</strong>? How will we ensure it is understandable and <strong>aligned with our values</strong>?
            </p>
            <p>
      
              <a href="https://www.managen.ai" aria-label="Managen.ai">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.managen.ai/understanding/index.html" title="Make Truth Matter" tabindex="-1">
            <img src="assets/images/spotlight/mtma_screencap.png" alt="Make Truth Matter" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Understand</h2>
            <p>
              It is <strong>hard </strong> to keep up with everything that is going on in Gen()AI. As things to 
              <strong>faster </strong> it will become even harder. 
              
            <p>
              That is why we are creating <strong> Managen.AI </strong>, to help people learn about, and use Gen()AI in the most effective and 
              efficient way possible.
            </p>
            <p>
              <a href="https://www.managen.ai/understanding/index.html" aria-label="Understand">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn about Gen()AI
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="https://www.isxy.info" title="IsXY!?" tabindex="-1">
            <img src="assets/images/spotlight/isxy.png" alt="IsXY!?" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Build</h2>
            <p>
              <strong>IsXY!?</strong> provides a simple way to look at evaluate, and share information that you find on the internet. 
              Providing a way to <strong>visualize</strong> the way other people and AI evaluates the information puts it into a context that 
              helps to bring it greater weight. 
            </p>
            <p>
              Focusing on the questions Is This (some meme or image) Y? Where Y is <strong>accurate </strong>, <strong>simulated </strong>, <strong>useful </strong>, or <strong>inspiring </strong> 
              provides stepping micro mutual-alignment for both people and AI.
            </p>
              <a href="https://www.isxy.info" aria-label="IsXY!?">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Visit IsXY!?
              </a>
            </p>
          </figcaption>
        </figure>
        
      </div>
    </div>
  </div>
</section>
