/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Style the body */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}

/* Style the blog content */
.blog-content {
    max-width: 800px;
    margin-bottom: 50px;
}     .copy-icon { cursor: pointer; }
.copied { color: green; } /* Style for indicating copied status */
.copy-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
.copied-popup {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);

    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    padding: 5px;
    border-radius: 5px;
}
.copied-popup.show {
    display: block;
}